# Azure Storage Configuration
AZURE_STORAGE_ACCOUNT_NAME=mediablobazfct
AZURE_STORAGE_ACCOUNT_KEY=your_storage_account_key_here
AZURE_STORAGE_CONNECTION_STRING=your_connection_string_here

# Azure Function App URL
AZURE_FUNCTION_APP_URL=https://mediaprocessor.happydune-07a3bc2a.germanywestcentral.azurecontainerapps.io

# Next.js Configuration
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-secret-key-here
